<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>修改密码</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/ui.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/nav.css">
	<link type="text/css" rel="stylesheet" media="all" href="/static/css/pages/account.css">
    <script src="/static/js/lib/lib.js"></script>
    <base target="_self"/>
</head>
<body>
#set($user=$session.getAttribute("USERS")) 
<div class="doc" id="doc">
    <div class="topbar" id="topbar">
        <div class="layout">
            <div class="grid">
                <div class="mod-toolbar">
                    <p>您好！<span class="user-name">${user.userName}</span><a href="/user/user-manager.do?userId=${user.userId}" target="_self" class="login">[账号管理]</a>&nbsp;<a href="/user/loginout.do" target="_self" class="login">[退出]</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="header" id="header">
        <div class="layout">
            <div class="grid">
                <div class="mod-masthead">
                    <a href="/index.do"><img src="/static/img/logo.jpg" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="content">
        <div class="layout layout-nav">
            <div class="grid">
                <div class="mod-nav" id="mod-nav">
                    <div class="content">
                        <ul>
                            <li>
                                <a href="/index.do" target="_self">首页</a>
                            </li>
							#if(${user.checkedSecurity(1)})
                            <li>
                                <a href="/order/order-index.do" target="_self">我要查订单</a>
                            </li>
							#end
							#if(${user.userSecurity}>2 && ${user.getCustomerCodes().size()}>0 && ${user.getWareHouseCodes().size()}>0)
                            <li>
                                <a href="/data/data-index.do" target="_self">我要看数据</a>
                            </li>
							#end
							#if(${user.checkedSecurity(2)})
                            <li>
                                <a href="/user/user-bill-manager.do" target="_self">我要看账单</a>
                            </li>
							#end
                            <li class="active">
                                <a href="/user/user-manager.do?userId=${user.userId}" target="_self">我的账号</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="grid">
                <div class="grid-sub">
                    <div class="mod-side-nav">
                        <div class="content">
                            <ul>
                                <li>
                                    <a href="/user/user-manager.do?userId=${user.userId}" >
                                        我的基本信息
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/user/password-update-view.do?userId=${user.userId}" class="active">修改密码</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-main">
                    <div class="wrap clearfix">
                        <div class="mod-set">
                            <div class="header">
                                <h2>修改密码</h2>
                            </div>
                            <div class="content">
                                <form class="form-horizontal" name="password-form" id="password-form" method="post" action="/user/password-update.do">
                                    <input type="text" id="userId" name="userId" value="${user.userId}" class="hide"/>
									<div class="control-group">
                                        <label class="control-label" for="oldPassowrd"><span>*</span>旧密码</label>
                                        <div class="controls">
                                            <input type="password" id="oldPassowrd" name="oldPassowrd" placeholder="请输入旧密码"/>
											<span class="help-inline hide" id="label-error-box1" style="color:#ff0000;">请输入旧密码</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="newPassowrd"><span>*</span>新密码</label>
                                        <div class="controls">
                                            <input type="password" id="newPassowrd" name="newPassowrd" placeholder="请输入新密码"/>
											<span class="help-inline hide" id="label-error-box2" style="color:#ff0000;">请输入新密码</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="newPassowrd2"><span>*</span>确认密码</label>
                                        <div class="controls">
                                            <input type="password" id="newPassowrd2" name="newPassowrd2" placeholder="请输入确认密码"/>
											<span class="help-inline hide" id="label-error-box3" style="color:#ff0000;">请输入确认密码</span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary">修改密码</button>
                                            <button type="reset" class="btn btn-primary-reset">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer clearfix" id="footer">
        <div class="layout">
            <div class="grid">
                <div class="mod-footer">
                    <div class="content">
                        <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/pages/set.js"></script>
#if (!${error})
	#if (${modifyStatus})
		<script type="text/javascript" >
			alert("密码修改成功");
		</script>
	#end
#else
	<script type="text/javascript" >
			alert("密码验证出错，请重新输入");
	</script>
#end
</body>
</html>