<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SKU销售量省份分布</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/nav.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/ui.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/pages/data-sku-search.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/plugins/jquery-ui-1.10.3.custom/css/jquery-ui.css">
    <script src="/static/js/lib/lib.js"></script>
    <script src="/static/plugins/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <base target="_self"/>
</head>
<body>
	#set($user=$session.getAttribute("USERS")) 
     <div class="doc" id="doc">
          <div class="topbar" id="topbar">
              <div class="layout">
                    <div class="grid">
                         <div class="mod-toolbar">
                             <p>您好！<span class="user-name">${user.userName}</span><a href="/user/user-manager.do?userId=${user.userId}" target="_self" class="login">[账号管理]</a>&nbsp;<a href="/user/loginout.do" target="_self" class="login">[退出]</a></p>
                         </div>
                    </div>
              </div>
          </div>
          <div class="header" id="header">
              <div class="layout">
                  <div class="grid">
                      <div class="mod-masthead">
                          <a href="/index.do"><img src="/static/img/logo.jpg" /></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="content" id="content">
               <div class="layout layout-nav">
                   <div class="grid">
                       <div class="mod-nav" id="mod-nav">
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="/index.do" target="_self">首页</a>
                                    </li>
									#if(${user.checkedSecurity(1)})
                                    <li>
                                        <a href="/order/order-index.do" target="_self">我要查订单</a>
                                    </li>
									#end
									#if(${user.userSecurity}>2 && ${user.getCustomerCodes().size()}>0 && ${user.getWareHouseCodes().size()}>0)
                                    <li class="active">
                                        <a href="/data/data-index.do" target="_self">我要看数据</a>
                                    </li>
									#end
									#if(${user.checkedSecurity(2)})
                                    <li>
                                        <a href="/user/user-bill-manager.do" target="_self">我要看账单</a>
                                    </li>
									#end
                                    <li>
                                        <a href="/user/user-manager.do?userId=${user.userId}" target="_self">我的账号</a>
                                    </li>
                                </ul>
                            </div>
                       </div>
                   </div>
               </div>
               <div class="layout">
                    <div class="grid">
                        <div class="mod-guide">
                             <div class="header">
                                 <ul class="breadcrumb">
                                     <li><a href="/index.do">首页</a> <span class="divider">/</span></li>
                                     <li><a href="/data/data-index.do">我要看数据</a> <span class="divider">/</span></li>
                                     <li class="active">SKU销售量省份分布</li>
                                 </ul>
                             </div>
                        </div>
                    </div>
               </div>
               <div class="layout">
                   <div class="grid">
                       <div class="mod-order-source-filter">
                           <div class="header">
                               <form class="form-horizontal form-oreder-search" method="post" action="/data/data-sku-index.do">
                                   <div class="control-group">
                                       <div class="controls">
                                           <label class="help-inline">请选择日期：</label>
                                           <div class="input-append inline">
                                               <input size="16" type="text" value="${startTime}" id="startTime" name="startTime" style="width:74px" class="datepicker">
												<span class="ui-datepicker-append">yyyymmdd</span>
                                               <span class="add-on"><i class="icon-calendar"></i></span>
                                           </div>
                                           <span class="help-inline">-</span>
                                           <div class="input-append inline">
                                               <input size="16" type="text" value="${endTime}" id="endTime" name="endTime" style="width:74px" class="datepicker">
                                               <span class="add-on"><i class="icon-calendar"></i></span>
                                           </div>
                                           <span class="help-inline" style="padding-left: 10px;">请选择仓库：</span>
                                           <select class="select-sku" id="wareHouseSelected" name="wareHouseSelected" style="width:200px;">
                                               <option value="-1#所有仓库">所有仓库</option>
                                                   #foreach($wareHouse in ${wareHouses})
													<option value="${wareHouse.wareHouseCode}#${wareHouse.wareHouseName}" #if(${wareHouse.checked}) selected #end>${wareHouse.wareHouseName}</option>
												   #end
                                           </select>
										   <span class="help-inline" style="padding-left: 10px;">请选择客户：</span>
                                           <select class="select-sku" id="customerCode" name="customerCode" style="width:200px;">
                                               #foreach($customer in ${customers})
													<option value="${customer.customerCode}" #if(${customer.checked}) selected #end>${customer.customerName}</option>
												   #end
                                           </select>
                                           <span class="help-inline" >请输入SKU编码：</span>
                                           <input size="16" type="text" value="${currentSku}" id="skuCode" name="skuCode" style="width:84px;margin-top:10px;">
                                           <button type="submit" class="btn btn-primary" style="margin-left: 10px;margin-top:10px;">查询</button>
                                           <a class="btn btn-success" href="${currentExcelFile}" style="margin-left: 2px;margin-top:10px;">导出</a>
                                       </div>
                                   </div>
                               </form>
                           </div>
                            <div class="content">
                                <iframe frameborder="0" height="700" marginheight="0" marginwidth="0" scrolling="no" width="990" src="/data/map.do?mapFile=${mapFile}&totalCount=${totalCount}&startTime=${startTime}&endTime=${endTime}&skuCode=${skuCode}&wareHouseName=${wareHouseName}&isSku=true"></iframe>
                            </div>
                       </div>
                   </div>
               </div>
               <!-- end-->
          </div>
         <!--content end-->
          <div class="footer clearfix" id="footer">
                <div class="layout">
                    <div class="grid">
                        <div class="mod-footer">
                            <div class="content">
                                <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
     </div>
    <script src="/static/js/pages/data.js"></script>
</body>
</html>